version: '3.8'

services:
  frontend:
    build:
      context: ./frontend
      dockerfile: Dockerfile
    container_name: frontend
    networks:
      - app-network

  # --- Backend Service Definition ---
  backend:
    build:
      context: ./backend
      dockerfile: Dockerfile
    container_name: backend    
    networks:
      - app-network

networks:
  app-network:
    driver: bridge