version: '3.8'

services:
  proxy:
    build:
      context: ./proxy
      dockerfile: Dockerfile
    # container_name: production_proxy
    volumes:
      - vue_static:/usr/share/nginx/html:ro # Read-only access to static files
    ports:
      - "8080:80" 
    depends_on:
      - backend
      - frontend 
    networks:
      - app-network

  backend:
    build:
      target: production
    # container_name: backend_flask_gunicorn_prod
    expose:
      - "8000:8000"
    env_file: .env.prod
    restart: always
    depends_on:
      - db

  frontend:
    build:
      target: production
    # container_name: vue_prod
    volumes:
      - vue_static:/app/dist # Assuming your build output is in /app/dist

  db:
    environment:
      - POSTGRES_DB=erp9lli_prod

volumes:
  vue_static: